# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

*.txt -text
*.json -text
*.xml -text

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf
*.user text eol=crlf
*.cs text diff=csharp eol=crlf
*.tt text eol=crlf

*.sh text eol=lf